footer {
	background: #24262d;
	color: white;
	padding: 40px 0 20px 0;
}
footer .footer_dentro {
	width: 90%;
	margin: 0 auto;
}
footer .footer_dentro .logo_footer {
	width: 170px;
	margin: 0 auto;
}
footer .footer_dentro .logo_footer img {
	width: 100%;
}
footer .footer_dentro .servicios_footer {
	text-align: center;
	width: 90%;
	margin: 0 auto 30px auto;
}
footer .footer_dentro .servicios_footer a {
	display: block;
	color: white;
	font-size: 16px;
	font-weight: 300;
	line-height: 23px;
	text-decoration: none;
}
footer .footer_dentro .servicios_footer h3 {
	color: white;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 10px;
}
footer .footer_dentro .servicios_footer p {
	color: white;
	font-size: 16px;
	font-weight: 300;
	line-height: 23px;
}
.emagenic {
	background-color: #292b34;
	padding: 40px;
	text-align: center;
	color: white;
	font-size: 14px;
	font-weight: 300;
}
.emagenic a {
	background-color: #292b34;
	text-align: center;
	color: white;
	font-size: 14px;
	font-weight: 300;
	display: block;
	text-decoration: none;
}
.headerimg {
	width: 100%;
	background-image: url(../imagenes/slide/quienessomos.jpg);
	height: 100px;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-repeat: no-repeat;
}
.headerimg2 {
	width: 100%;
	background-image: url(../imagenes/slide/contacto.jpg);
	height: 100px;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-repeat: no-repeat;
}
.headerimg3 {
	width: 100%;
	background-image: url(../imagenes/slide/servicios.jpg);
	height: 100px;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-repeat: no-repeat;
}
.nosotros {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	padding: 40px 0 50px 0;
}
.nosotros a {
	background-color: #f55818;
	color: white;
	border-radius: 20px;
	text-decoration: none;
	font-size: 16px;
	font-weight: 400;
	padding: 10px 25px;
	-webkit-transition: all 0.2s ease-in-out;  /* Saf3.2+, Chrome */
         -moz-transition: all 0.2s ease-in-out;  /* FF4+ */
           -o-transition: all 0.2s ease-in-out;  /* Opera 10.5+ */
              transition: all 0.2s ease-in-out;
}
.nosotros a:hover {
	background-color: white;
	color: #f55818;
	border-radius: 20px;
	text-decoration: none;
	font-size: 16px;
	font-weight: 400;
	padding: 7px 23px;
	border: solid 3px #f55818;
	-webkit-transition: all 0.2s ease-in-out;  /* Saf3.2+, Chrome */
         -moz-transition: all 0.2s ease-in-out;  /* FF4+ */
           -o-transition: all 0.2s ease-in-out;  /* Opera 10.5+ */
              transition: all 0.2s ease-in-out;
}
.nosotros h1 {
	font-size: 24px;
	color: #205588;
	font-weight: 700;
	margin-bottom: 20px;
}
.nosotros form {
	margin-bottom: 30px;
}
.nosotros .input {
	color: #656871;
	border-radius: 20px;
	display: block;
	width: 100%;
	margin-bottom: 10px;
	padding: 10px 0;
	text-align: center;
	border: solid 1px #edf2f6;
	-webkit-transition: all 0.2s ease-in-out;  /* Saf3.2+, Chrome */
         -moz-transition: all 0.2s ease-in-out;  /* FF4+ */
           -o-transition: all 0.2s ease-in-out;  /* Opera 10.5+ */
              transition: all 0.2s ease-in-out;
}
.nosotros .input:focus,
.nosotros .mensaje:focus {
	background: #edf2f6;
	color: #205588;
	-webkit-transition: all 0.2s ease-in-out;  /* Saf3.2+, Chrome */
         -moz-transition: all 0.2s ease-in-out;  /* FF4+ */
           -o-transition: all 0.2s ease-in-out;  /* Opera 10.5+ */
              transition: all 0.2s ease-in-out;
}
.nosotros .mensaje {
	color: #656871;
	border-radius: 20px;
	display: block;
	width: 100%;
	height: 100px;
	margin-bottom: 10px;
	padding: 5px 0;
	text-align: center;
	border: solid 1px #edf2f6;
	-webkit-transition: all 0.2s ease-in-out;  /* Saf3.2+, Chrome */
         -moz-transition: all 0.2s ease-in-out;  /* FF4+ */
           -o-transition: all 0.2s ease-in-out;  /* Opera 10.5+ */
              transition: all 0.2s ease-in-out;
}
.nosotros .enviar {
	border: none;
	background-color: #f55818;
	color: white;
	border-radius: 20px;
	text-decoration: none;
	font-size: 16px;
	font-weight: 400;
	padding: 10px 25px;
}
.nosotros .enviar:hover { 

	background-color: white;
	color: #f55818;
	border-radius: 20px;
	text-decoration: none;
	font-size: 16px;
	font-weight: 400;
	padding: 7px 23px;
	border: solid 3px #f55818;
	
}
.nosotros .mv h3 {
	font-size: 20px;
	color: #205588;
	font-weight: 700;
	margin-bottom: 20px;
}
.nosotros p {
	font-size: 16px;
	font-weight: 300;
	color: #656871;
	line-height: 23px;
	margin-bottom: 30px;
}
.servicios {
	background-color: #edf2f6;
	padding: 40px 0;
	text-align: center;
}
.servicios a {
	background-color: #f55818;
	color: white;
	border-radius: 20px;
	text-decoration: none;
	font-size: 16px;
	font-weight: 400;
	padding: 10px 25px;
	-webkit-transition: all 0.2s ease-in-out;  /* Saf3.2+, Chrome */
         -moz-transition: all 0.2s ease-in-out;  /* FF4+ */
           -o-transition: all 0.2s ease-in-out;  /* Opera 10.5+ */
              transition: all 0.2s ease-in-out;
}
.servicios a:hover {
	background-color: white;
	color: #f55818;
	border-radius: 20px;
	text-decoration: none;
	font-size: 16px;
	font-weight: 400;
	padding: 7px 23px;
	border: solid 3px #f55818;
	-webkit-transition: all 0.2s ease-in-out;  /* Saf3.2+, Chrome */
         -moz-transition: all 0.2s ease-in-out;  /* FF4+ */
           -o-transition: all 0.2s ease-in-out;  /* Opera 10.5+ */
              transition: all 0.2s ease-in-out;
}
.servicios .servicios_dentro {
	width: 90%;
	margin: 0 auto 40px auto;
	text-align: center;
}
.servicios .servicios_dentro h3 {
	font-size: 24px;
	color: #205588;
	font-weight: 700;
	margin-bottom: 20px;
}
.servicios .servicios_dentro .servicio {
	margin-bottom: 40px;
}
.servicios .servicios_dentro .servicio h2 {
	font-size: 18px;
	color: #205588;
	font-weight: 700;
	margin-top: 10px;
}
.servicios .servicios_dentro .servicio .p {
	margin-bottom: 20px;
	margin-top: 10px;
}
.servicios .servicios_dentro .servicio .img_servicio {
	background-color: white;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	margin: auto;
	overflow: hidden;
}
.servicios .servicios_dentro .servicio p {
	font-size: 16px;
	font-weight: 300;
	color: #656871;
	line-height: 23px;
	margin-top: 20px;
}



























