@media only screen and (min-width: 768px) {

    footer .footer_dentro .logo_footer {
        float: right;
    } 
    footer .footer_dentro .servicios_footer {
        width: 21%;
        margin-right: 3%;
        display: inline-block;
        vertical-align: top;
        text-align: left;
    }
    header {
        background-color: #fefefe;
        height:100px;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 2;
        position: static;
    }   
    header .centro_header {
        margin: auto;
        width: 95%;
    }
    header .centro_header .logo {
        float: left;
        padding-top: 15px;
    }
    header #menu ul li{
        margin: ;
    }
    header #menu ul li .activo {
        background-color: #205588;
        border-radius: 20px;
        color: #fff;
        padding: 5px 10px; 
    }
    header #menu ul li a {
        color: #205588;
        padding: 0 10px;
        font-weight: normal;
        font-size: 16px;
        -webkit-transition: all 0.2s ease-in-out;  /* Saf3.2+, Chrome */
         -moz-transition: all 0.2s ease-in-out;  /* FF4+ */
           -o-transition: all 0.2s ease-in-out;  /* Opera 10.5+ */
              transition: all 0.2s ease-in-out;
    }
    header #menu ul li a:hover {
        background-color: #205588;
        border-radius: 20px;
        color: #fff;
        padding: 5px 10px;
        -webkit-transition: all 0.2s ease-in-out;  /* Saf3.2+, Chrome */
         -moz-transition: all 0.2s ease-in-out;  /* FF4+ */
           -o-transition: all 0.2s ease-in-out;  /* Opera 10.5+ */
              transition: all 0.2s ease-in-out;
    }
    .emagenic p,
    .emagenic a {
        display: inline-block;
    }
    .headerimg {
        width: 100%;
        background-image: url(../imagenes/slide/quienessomos.jpg);
        height: 180px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .headerimg2 {
        width: 100%;
        background-image: url(../imagenes/slide/contacto.jpg);
        height: 180px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .headerimg3 {
        width: 100%;
        background-image: url(../imagenes/slide/servicios.jpg);
        height: 180px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .headerimg4 {
        width: 100%;
        background-image: url(../imagenes/slide/noticias.jpg);
        height: 180px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .nosotros {
        text-align: center;
    }
    .nosotros form {
        width: 70%;
        margin: 0 auto 30px auto;
    }
    .nosotros .mv {
        display:  inline-block; 
        vertical-align: top;
        width: 45%;
        margin: 0 2%;
    }
    .servicios .servicios_dentro .servicio {
        display: inline-block;
        vertical-align: top;
        width: 20%;
        margin: 0 2%;
        margin-bottom: 40px;
    }
    .servicios .servicios_dentro .servicio .img_servicio {
        background-color: white;
        border-radius: 50%;
        width: 135px;
        height: 135px;
        margin: auto;
    }

    .servicios .servicios_dentro .contenido_texto {
        vertical-align: top;
        display: inline-block;
        margin-top: 20px;
        display: inline-block;
        width: 70%;
        margin-left: 3%;
    }
    .servicios .servicios_dentro .img_detalle {
        overflow: hidden;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        display: inline-block;
    }


@media only screen and (min-width: 1100px) {

    footer .footer_dentro {
        width: 1024px;
        margin: 0 auto;
    }
    header .centro_header {
        margin: auto;
        width: 1050px;
    }	
    header #menu ul {
        font-size: 14px;
        list-style: none;
    }
    header #menu ul li{
        margin: 0 7px 0 7px;
    }  
    header #menu ul li a {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        color: #003366;
        padding: 0 10px;
        font-weight: normal;
        -webkit-transition: all 0.2s ease-in-out;  /* Saf3.2+, Chrome */
         -moz-transition: all 0.2s ease-in-out;  /* FF4+ */
           -o-transition: all 0.2s ease-in-out;  /* Opera 10.5+ */
              transition: all 0.2s ease-in-out;
    }
    header #menu ul li a:hover {
        background-color: #205588;
        border-radius: 20px;
        color: #fff;
        padding: 5px 10px;
        -webkit-transition: all 0.2s ease-in-out;  /* Saf3.2+, Chrome */
         -moz-transition: all 0.2s ease-in-out;  /* FF4+ */
           -o-transition: all 0.2s ease-in-out;  /* Opera 10.5+ */
              transition: all 0.2s ease-in-out;
    }
    .nosotros {
        margin: auto;
        width: 1024px;
    }
    .servicios .servicios_dentro {
        width: 1024px;
    }
    .servicios .servicios_dentro .servicio .img_servicio {
        background-color: white;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        margin: auto;
    }

}












